{% extends "base.html" %}

{% block content %}
		<section id="mainsection" class="main">
			<h2>CSS Tutorial Videos</h2>
			<div id="vid1">
				<p>A video about the basics of CSS, including the basic structure and methods to apply styles.</p>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/Wz2klMXDqF4" frameborder="0" allowfullscreen></iframe>
			</div>
			<br />
			<div id="vid2">
				<p>A simple 12-minute video explaining the syntax of CSS, common properties and how to link an external stylesheet to an HTML file.</p>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/0afZj1G0BIE" frameborder="0" allowfullscreen></iframe>
			</div>
			<br />
			<div id="vid3">
				<p>A much longer and more comprehensive tutorial about the basics of CSS, covering selectors, layout, media queries, transformations, transitions, and preprocessors.</p>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/Vafp5xr_bxk" frameborder="0" allowfullscreen></iframe>
			</div>
		</section>
{% endblock %}
